.fav_sect {
    height: 100%;
    margin-top: 10px;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
}

.tabs_bar {
    display:flex;
}

.page_name_cont {
    width: auto;
    height: 40px;
    background: #FF868E;
    border-radius: 10px;
    margin-left: 10px;
}

.page_name {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin: 5px 30px;
}

.no_items_headline {
    margin-top: 20px;
    background: #F8F8F7;
    border-radius: 10px;
    width: 100%;
    height: 60px;
}

.no_items_headline_text {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #8C8C8C;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 20px;
    margin-bottom: 0;
}

.grid_parent {
    overflow: hidden;
    margin-top: 20px;
}

.cat_img_cont {
    position: relative;
}

.cat_img_hover {
    width: 100%;
    height: 100%;
    background: rgba(255, 134, 142, 0.6);
    opacity: 0.6;
    display: none;
    position: absolute;
    border-radius: 20px;
}

.cat_img_cont:hover .cat_img_hover {
    display: block;
}

.unfav_btn_cont {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: none;
}

.cat_img_cont:hover .unfav_btn_cont {
    display: block;
}

.unfav_btn {
    height: 17.33px;
    width: 20px;
    margin: 11px 10px;
    filter: brightness(0) saturate(100%) invert(62%) sepia(95%) saturate(1161%) hue-rotate(306deg) brightness(104%) contrast(100%);
}

.unfav_btn_hover {
    height: 25px;
    width: 25px;
    margin: 7.5px;
    display: none;
}

.unfav_btn_cont:hover {
    background: #FF868E;
}

.unfav_btn_cont:hover .unfav_btn {
    display: none;
}

.unfav_btn_cont:hover .unfav_btn_hover {
    display: block;
}

.logs {
    margin-top: 50px;
    width: 100%;
    height: auto;
}

.new_log {
    width: 100%;
    height: 60px;
    background: #F8F8F7;
    border-radius: 10px;
    display: flex;
    margin-bottom: 10px;
}

.time_cont {
    width: max-content;
    height: 30px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.time {
    width: max-content;
    color: #1D1D1D;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 3px 10px;
}

.log_msg {
    margin-left: 30px;
    margin-top: 18px;
    margin-bottom: 18px;
    width: max-content;
    height: 24px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8C8C8C;
}


