<div class="top_bar">
  
  <ul class="top_bar_btns">
    <li class="btn_container" routerLink="/likes" routerLinkActive="btn_active">
      <img class="top_bar_btn" routerLink="/likes" src='./assets/icons/like-30.svg' alt="likes_image">
    </li>
    <li class="btn_container" routerLink="/favourites" routerLinkActive="btn_active">
      <img class="top_bar_btn" routerLink="/favourites"  src='./assets/icons/fav-30.svg' alt="favourites_image">
    </li>
    <li class="btn_container" routerLink="/dislikes" routerLinkActive="btn_active">
      <img class="top_bar_btn" routerLink="/dislikes" src='./assets/icons/dislike-30.svg' alt="dislikes_image">
    </li>
  </ul>
</div>
