<app-topbar></app-topbar>
<section class="dislikes_sect">
    <div class="tabs_bar">
        <app-back-nav-btn></app-back-nav-btn>
        <div class="page_name_cont">
          <p class="page_name">DISLIKES</p>
        </div>
    </div>
    <ng-container *ngIf="loadedData.length > 0;  else noItems">
        <div class="grid_parent">
          <div class="grid_container">
            <ng-container *ngFor="let data of loadedData; index as i">
                <div class="cat_img_cont {{ get_grid_class(i) }}">
                    <div class="cat_img_hover"></div>
                    <div class="dislike_btn_cont" (click)="removeFromDislikes(data)">
                        <img class="dislike_btn"  src='./assets/icons/dislike-30.svg' alt="search_image">
                        <img class="dislike_btn_hover"  src='./assets/icons/close-white-20.svg' alt="search_image">  
                    </div> 
                    <app-cat-breed [url]="data.image.url" class="cat_img"></app-cat-breed>
                </div>
            </ng-container>
          </div>
        </div>
    </ng-container>
    <ng-template #noItems>
        <div class="no_items_headline">
            <p class="no_items_headline_text">No item found</p>
        </div>
    </ng-template>


