.back_btn_container {
    width: 40px;
    height: 40px;
    background: #FBE0DC;
    border-radius: 10px;
}

.back_btn {
    margin: 10px;
    width: 20px;
    height: 20px;
}

.back_btn_container:hover {
    background: #FF868E;
}

.back_btn_container:hover > .back_btn {
    filter: brightness(0) saturate(100%) invert(97%) sepia(97%)  hue-rotate(225deg) contrast(104%) saturate(14%) brightness(104%);
  }